

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    background: #000;
    -webkit-tap-highlight-color: transparent;
}

.error-message {
	color: #ff0000;
}

a{
	color:#F2D14C;
}

a:hover{
	color:#FFFFFF;
}

a[href="undefined"]{
	display:none;
}

header {
    padding: 15px 30px;
    p {
        color: #898989;
        font-size: 40px;
    }
}

.profile-pic {
	width: 150px;
	height: 150px;
	margin: 15px;
	background-image: url('../images/pp.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.main-nav {
    position: relative;
    bottom: 0;
    width: 100%;
    
    ul {
        margin: 15px auto;
        display: table;
        table-layout: fixed;
        float: none;
        list-style: none;
        padding-left: 0;
        background: 0 0;
    }
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

.highlight-text {
    color: #F2D14C;
}

.section-title {
	text-align: center;
	color: #898989;
}

section {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-size:cover;
    text-align: center;
    
    .bg{
      position: absolute;
      width: 100%;
      height: 100%;
      
      .bg-image{
        @extend .bg;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .bg-color{
        @extend .bg;
      }
    }
   
}

.section-content{
  position: relative;
  color:#FFF;
}

#home{
  .bg-image{
    background-image:url('../images/macpro.jpg'); 
    background-attachment: fixed;
  }
  .bg-color{
    background-color:#000;
    opacity: 0.8;
  }
}

#portfolio{
  .bg-image{
    background-image:url('../images/desk.jpg');
  }
  .bg-color{
    background-color:#FFF;
    opacity: 0.87;
  }
}

#about-me{
	text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    padding-bottom: 200px;
  .bg-image {
    background-image: url("../images/ny-bw.jpg");
    background-attachment: fixed;
  }
  .bg-color{
    background: #000;
    opacity: 0.6;
  }
  .row{
	  text-align: left;
	  position: absolute;
	  top:500px;
  }
}

#about-pic {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url("../images/pp.png");
	background-size: 300px auto;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	opacity: 0;
}

#contact{
  .bg-color {
    background-color: #000000;
    opacity: 0.9;
  }
  .bg-image {
    background-image: url("../images/macbook.jpg");
  }
}

#skills{
	
	min-height: 300px;
	background: #000;
	text-align: left;
	
	.section-content{
		color:#898989;
		font-size: 15px;
	}
}

.scale{
	width:100%;
	height:25px;
	border:1px solid #5C5C5C;
	background: #5C5C5C;
	margin-bottom: 15px;
	.meter{
		background: #E9D266;
		height:100%;
	}
}




/*==========  Mobile First Bootstrap  queries  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

	.main-nav li {
		position: relative;
		float: left;
		margin: 35px 15px 0px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.main-nav li {
		position: relative;
		float: left;
		margin: 45px 40px;
	}
}

/* Small Devices, Tablets */

@media only screen and (min-width: 640px) {
	.main-nav li {
		position: relative;
		float: left;
		margin: 45px 70px;
	}
}

@media only screen and (min-width: 700px) {

	.main-nav li {
		position: relative;
		float: left;
		margin: 45px 75px;
	}
}

@media only screen and (min-width: 765px) {
	.main-nav li {
		position: relative;
		float: left;
		margin: 45px 90px;
	}
}

@media only screen and (min-width: 825px) {
	.main-nav li {
		position: relative;
		float: left;
		margin: 45px 100px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.main-nav li {
		position: relative;
		float: left;
		margin: 45px 120px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}


.main-nav li {
	position: relative;
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	cursor: pointer;
}

.main-nav li:hover {
	filter: none;
}

.main-nav li a {
	text-decoration: none;
	color: #898989;
}

.main-nav li a > div {
	width: 68px;
	height: 79px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.4s ease;
}

.main-nav li a span {
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	transform: translate(0,-30px);
	transition: all 0.5s ease;
}

.main-nav li:hover a div {
	transform: translate(0,-30px);
}

.main-nav li:hover a span {
	opacity: 1;
	transform: translate(0,0px);
}

.main-nav li:first-child a > div {
	background-image: url('../images/portfolio-icon.png');
}

.main-nav li:nth-child(2) a > div {
	background-image: url('../images/about-icon.png');
}

.main-nav li:nth-child(3) a > div {
	background-image: url('../images/contact-icon.png');
}


.tabs {
	margin: 15px auto;
	display: table;
	table-layout: fixed;
	float: none;
	list-style: none;
	padding-left: 0;
	background: none;
}

.tabs a {
	text-decoration: none;
	color: inherit;
}

.tabs:after, .tabs:before {

}

.tabs li {
	float: left;
	margin: 15px;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	color: #898989;
}

.tabs li:before {
	content: " ";
	height: 2px;
	background: #AFAFAF;
	display: block;
	position: absolute;
	top: -150%;
	width: 100%;
	opacity: 0;
	transition: all 0.3s ease;
}

.tabs li:hover:before {
	top: -50%;
	opacity: 1;
}

.tabs li.active:before {
	background: #f2d14c;
	top: -50%;
	opacity: 1;
}

.tabs li:after {
	content: " ";
	height: 4px;
	background: #AFAFAF;
	display: block;
	position: absolute;
	bottom: -150%;
	width: 100%;
	opacity: 0;
	transition: all 0.3s ease;
}

.tabs li:hover:after {
	bottom: -50%;
	opacity: 1;
}

.tabs li.active:after {
	background: #f2d14c;
	bottom: -50%;
	opacity: 1;
}


.form-control {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.09);
}

.form-control:focus {
	border-color: #E9D266;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 219, 102, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 232, 102, 0.6);
	background-color: rgba(255, 255, 255, 0.09);
	color: #FFFFFF;
}

.send-message {
	color: #898989;
	background-color: #000;
	border-color: #898989;
	border-radius: 0 !important;
	margin: 0 auto;
}

.send-message:hover {
	background-color: rgba(242, 209, 76, 0.28);
	color: #FFFFFF;
}


.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 200px;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
	position: relative;
}

.gallery {
	.item {
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;
		cursor: pointer;
		
		&:hover {
			box-shadow: 1px 2px 15px rgba(0,0,0,0.5);
			
			.caption {
				opacity: 1;
			}
			
			.thumbnail {
				-ms-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-webkit-transform: scale(1);
				transform: scale(1);
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				filter: gray;
				filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
			}
		}
		
		.thumbnail {
			width: 100%;
			height: 100%;
			background-size: cover;
			-moz-transform: scale(1.05);
			-o-transform: scale(1.05);
			-ms-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
			transition: transform 0.3s ease-in-out;
		}
		
		.caption {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background: rgba(242, 209, 76, 0.6);
			padding: 15px;
			box-sizing: border-box;
			color: #fff;
			font-size: larger;
			opacity: 0;
			transition: all 0.3s ease;
		}
		
		.modal-data{
			display:none;
		}
		
	}
	
}

.modal-header {
	padding: 2px 15px;
	border-bottom: 1px solid #5C5C5C;
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.25);
	
	.close {
		float: right;
		font-size: 37px;
		font-weight: normal;
		line-height: 1;
		color: #F2D14C;
		opacity: 1;
	}

	.close:hover {
		text-shadow: 0 1px 0 #fff;
	}
}



.project-links{
	.btn {
		padding: 4px 6px;
		border-radius: 9px;
	}

	a[href^="http"] {
		display: block;
	}

	a {
		display: none;
	}
}

.modal {
	cursor: url("../images/x.png"), auto;
}

.modal-dialog {
	cursor: auto;
}

