<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>my portfolio</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="styles/vendor.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/Swiper/dist/css/swiper.css"/>
    <link rel="stylesheet" href="/bower_components/overhang/dist/overhang.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script id="swiper-template" type="html/text">
      <div class="swiper-container gallery">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
      </div>


    </script>
    <script id="project-item-template" type="html/text">
    <div class="swiper-slide">
      <div class="item" data-toggle="modal" data-target="#portfolioModal">
        <div class="thumbnail" style="background-image: url('<%image_url%>');">

        </div>
        <div class="caption">
          <%title%>
        </div>

        <div class="modal-data" data-playstore="" data-website="" data-image="<%image_url%>">
          <img src="<%image_url%>" class="img-responsive" />
          <div class="modal-body">
            <div class="project-links">
              <a href="<%playstore%>" target="_blank"><img src="images/play-store.png" height="30" /></a>
              <a href="<%website%>" target="_blank" class="btn btn-default"> <span class="glyphicon glyphicon-new-window"></span> Visit Website </a>
            </div>
            <h2><%title%></h2>
            <p>
              <%description%>
            </p>
          </div>
        </div>
      </div>

    </div>


    </script>

</head>

<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<section id="home">
    <div class="bg">
        <div class="bg-image"></div>
        <div class="bg-color"></div>
    </div>
    <div class="section-content">
        <div class="profile-pic desaturate"></div>
        <div class="text-center">
            <header>
                <h1 class="alt"><span class="highlight-text">Hello</span>, my name is <strong>Tobi</strong></h1>
                <p> WELCOME TO MY PORTFOLIO </p>
            </header>
            <div class="main-nav">
                <ul>
                    <li>
                        <a href="#portfolio" rel="scroll">
                            <div></div>
                            <span>Portfolio</span></a>
                    </li>
                    <li>
                        <a href="#about-me" rel="scroll">
                            <div></div>
                            <span>About</span></a>
                    </li>
                    <li>
                        <a href="#contact" rel="scroll">
                            <div></div>
                            <span>Contact</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="portfolio">
    <div class="bg">
        <div class="bg-image"></div>
        <div class="bg-color"></div>
    </div>
    <div class="section-content">
        <h2 class="section-title">PORTFOLIO</h2>
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="tabs" role="tablist">

            </ul>
            <!-- Tab panes -->
            <div class="tab-content container">

            </div>
        </div>
    </div>
</section>


<section id="about-me">

    <div class="bg">
        <div class="bg-image" style="background-position: 50% 0px;"></div>
        <div class="bg-color"></div>
    </div>
    <div id="about-pic"></div>
    <div class="section-content">
        <h2 class="section-title">ABOUT ME</h2>

        <div class="row" style="opacity:0.7;transform:translate3d(-100%, 0px, 0px);left:0px;"
             data-to="transform:translate3d(1000px, -500px, 0px);opacity:1"
             data-offset="0">
            <div class="col-sm-4">
                Lives in <span class="highlight-text">Northampton,</span> England
            </div>
        </div>


        <div class="row" style="opacity:0.7;transform:translate3d(100%, 0px, 0px);right:0px;"
             data-to="transform:translate3d(-1000px, -500px, 0px);opacity:1"
             data-offset="200">
            <div class="col-sm-4 col-sm-offset-8">
                <span class="highlight-text">web</span> technology
                <br> enthusiast
            </div>
        </div>

        <div class="row" style="opacity:0.7;transform:translate3d(-100%, 0px, 0px);left:0px;"
             data-to="transform:translate3d(1000px, -500px, 0px);opacity:1"
             data-offset="400">
            <div class="col-sm-4">
                Self&nbsp;taught
                <br>
                <span class="highlight-text">Programmer</span>
            </div>
        </div>

        <div class="row" style="opacity:0.7;transform:translate3d(100%, 0px, 0px);right:0px;"
             data-to="transform:translate3d(-1000px, -500px, 0px);opacity:1"
             data-offset="600">
            <div class="col-sm-4 col-sm-offset-8 ">
                + Studies <br><span class="highlight-text">Software Engineering</span> @ University of <br>Northampton
            </div>
        </div>

        <div class="row" style="opacity:0.7;transform:translate3d(-100%, 0px, 0px);left:0px;"
             data-to="transform:translate3d(1000px, -500px, 0px);opacity:1"
             data-offset="800">
            <div class="col-sm-4">
                <span class="highlight-text">4</span> Years freelance
                <br>
                <span class="highlight-text">experience</span>
            </div>
        </div>

        <div class="row" style="opacity:0.7;transform:translate3d(100%, 0px, 0px);right:0px;"
             data-to="transform:translate3d(-1000px, -500px, 0px);opacity:1"
             data-offset="1000">
            <div class="col-sm-4 col-sm-offset-8">
                Loves <span class="highlight-text">hackathon!</span>
            </div>
        </div>


        <div class="row" style="opacity:0.7;transform:translate3d(-100%, 0px, 0px);left:0px;"
             data-to="transform:translate3d(1000px, -500px, 0px);opacity:1"
             data-offset="1200">
            <div class="col-sm-4">
                Loves <span class="highlight-text">cycling</span>
                <br> and playing <span class="highlight-text">harmonica</span>
            </div>
        </div>
    </div>

</section>

<section id="skills">
    <div class="section-content container">
        <h2 class="section-title">SKILLS</h2>
        <div class="col-sm-3">
            JavaScript
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            Jquery
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            Angular2
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            PHP
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            Laravel
            <div class="scale">
                <div class="meter" style="width:10%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            Android
            <div class="scale">
                <div class="meter" style="width:50%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            NodeJS
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            Java
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            MySQL
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            HTML
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
        <div class="col-sm-3">
            CSS
            <div class="scale">
                <div class="meter" style="width:70%"></div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="bg ">
        <div class="bg-image"></div>
        <div class="bg-color"></div>
    </div>
    <div class="section-content container ">
        <h2 class="section-title">CONTACT</h2>
        <div class="col-md-6 col-md-offset-3 ">
            <form id="contact-form" action="https://formspree.io/stevehappyboy@rocketmail.com" method="POST">
                <div class="form-group col-sm-6 "><input class="form-control " name="name" placeholder="Name ">
                    <div class="error-message "></div>
                </div>
                <div class="form-group col-sm-6 "><input type="email" class="form-control " name="email"
                                                         placeholder="Email">
                    <div class="error-message "></div>
                </div>
                <div class="form-group col-sm-12 "><textarea class="form-control " rows="15 " name="message"
                                                             placeholder="Message"></textarea>
                    <div class="error-message "></div>
                </div>
                <div class="form-group col-sm-12 ">
                    <button type="submit " class="btn btn-default btn-lg send-message "> Send</button>
                </div>
            </form>
        </div>

    </div>
    </div>
</section>

<!-- Modal -->
<div id="portfolioModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-inner">
                <!-- Modal  content here-->
            </div>

            <div class="modal-header visible-xs">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
        </div>

    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js "></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js "></script>
<script src="/bower_components/gsap/src/uncompressed/TimelineMax.js"></script>
<script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
<script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
<script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
<script src="/bower_components/Swiper/dist/js/swiper.js "></script>
<script src="/bower_components/overhang/dist/overhang.min.js "></script>

<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/main.js "></script>
<!-- endbuild -->
</body>

</html>